<form [formGroup]="goalForm" (clickOutside)="handleOnClickOutisde()">
  <vita-card meta="{{ goal.createdOn | amTimeAgo }}">
    <div vita-card-header class="vita-goal__header">
      <input formControlName="titleControl" spellcheck="false" />
      <div class="vita-goal__options">
        <vita-goal-menu [goal]="goal" (deleted)="handleOnDeleted($event)" (completed)="handleOnCompleted($event)"></vita-goal-menu>
      </div>
    </div>
    <textarea formControlName="descriptionControl" spellcheck="false"></textarea>
    <div vita-card-footer class="vita-goal__footer">
      <vita-date-selector [dateSelected]="{ start: goal?.aimDateStart, end: goal?.aimDateEnd}" (change)="handleOnAimDateChange($event)"></vita-date-selector>
      <vita-goal-status [goalStatus]="goal.status"></vita-goal-status>
    </div>    
  </vita-card>
</form>
