<form [formGroup]="taskForm" (ngSubmit)="handleOnSubmit()">
    <div class="goal-task__container">
        <input formControlName="title" placeholder="Enter title for this task" spellcheck="false"/>    
        <vita-date-selector formControlName="plannedDate" [dateSelected]="this.taskForm.get('plannedDate').value"></vita-date-selector>
        <vita-task-status [taskStatus]="'Ready'"></vita-task-status>
        <button type="delete" (click)="handleOnDeleteClick()">
            <fa-icon [icon]="deleteIcon" [size]="'sm'"></fa-icon>            
        </button>
        <button type="submit" *ngIf="taskForm.valid && taskForm.dirty">
            <fa-icon [icon]="submitIcon" [size]="'sm'"></fa-icon>
        </button>
    </div>
</form>